
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: all .2s;
}
p{
    margin: 0;
}
.c{
    padding: 4rem 9rem;
}
.cP{
    margin: 2rem 4rem;
}
a{
    color: #000;
    cursor: pointer;
    text-decoration: none;
}
a:hover{
    color: var(--primaryOrange);
}
h1{
    font-size: 3.5rem;
}
:root{
    --primaryOrange: #DB8726
}
.btn{
    border: none;
    width: fit-content;
    padding: .375rem .75rem;
    border-radius: .25rem;
    cursor: pointer;
}
.o-btn{
    background: var(--primaryOrange);
    color: #fff;
}
.o-btn:hover{
    background: #f2f2f2;
    color: var(--primaryOrange)
}
.img_c{
    overflow: hidden;
}
img{
    width: 100%;
    height: auto;
}
.homeBoxes{
    flex-wrap: wrap;
    gap: 1.5rem;
}
.box{
    background: #fff;
    width: calc(33% - 1.5rem);
    padding: 1rem;
    border-radius: 1rem;
}
